html, body{
    margin: 0;
    padding: 0;
}

.bg{
    background: url(/images/ugur-akdemir-664795-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* viewport height */
}

.bg:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.6);
}

ul{ /* parent container */
    list-style: none;
    position: absolute;
    top: 3%;
    display: flex;
    width: 95%;
}

.brand{
    margin-right: auto;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
}


li{ /* child container / flex item */
    font-size: 15px;
    margin: 10px;
    color: white;
}

.btn{
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
}

.btn:hover{
    background-color: grey;
}
